@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital@1&display=swap');

*{
  box-sizing: border-box;
}

body {
  background: url("img/bg-main.jpg") center/cover no-repeat ;
  height: 100vh;
  color: white;
  font-family: 'Cormorant Infant', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

body::after{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 70px;
  margin: -100px 0 150px;
  position: fixed;
}


.year {
  font-size: 170px;
  z-index: -1;
  position: absolute;
  opacity: 0.5;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.countdown {
  display: none;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.time h2 {
  margin: 0 0 5px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
  }

  .time{
    margin: 5px;
  }

  .time h2{
    font-size: 15px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}

.loading {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 325px;

}